.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.movie{
  background-color: #A47551;
  border-radius: 3px;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
  overflow: hidden;
  position: relative;
  margin: 1rem;
  width: 300px;
}

.movie-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* background-color: #3d2b1f; */
}

.movie img{
  max-width: 100%;
}

.movie-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
}

.movie-info h3{
  margin: 0;
  color: white;
}

.movie-info span{
  color: white;
}

.movie-over{
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateX(102%);
  transition: transform 0.2s ease-in-out;
}

.movie:hover .movie-over{
  transform: translateY(0%);
}

.tag {
  background-color: brown;
  border-radius: 5px;
  padding:  0.5rem;
}

.tag-green{
  color: green;
}

.tag-orange{
  color: orangered;
}

.tag-red{
  color: red;
}

.mapp{
  font-size: 40px;
  color: firebrick;
  font-weight: 1000;
}

@media only screen and (min-width: 600px){
  .mapp{
    font-size: 35px;
  }
  .movie{
    width: 280px;
  }
}


